<main *ngIf="backendService.currentActiveChannel != 0" class="board-overview" cdkDropListGroup>
    <div>
        <mat-card class="main-card">
            <mat-card-header>
                <mat-card-title>To Do</mat-card-title>
            </mat-card-header>

            <div cdkDropList [cdkDropListData]="backendService.todo" class="task-list"
                (cdkDropListDropped)="drop($event) ; tooltip.show()">
                <div *ngFor="let item of backendService.todo; let i = index ; let track item " class="task-box" cdkDrag>
                    <span><b>{{item.title}}</b></span>
                    <span>from : {{ item.author }}</span>
                    <span>for : {{ item.assigned_to }}</span>
                    <div class="edit-task">
                        <button mat-icon-button matTooltip="edit task"
                            (click)="editTask(item)"><mat-icon>edit</mat-icon></button>
                        <button mat-icon-button matTooltip="delete task"
                            (click)="deleteTask(item)"><mat-icon>delete</mat-icon></button>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
    <div>
        <mat-card class="main-card">
            <mat-card-header>
                <mat-card-title>In Progress</mat-card-title>
            </mat-card-header>

            <div cdkDropList [cdkDropListData]="backendService.inProgress" class="task-list"
                (cdkDropListDropped)="drop($event) ; tooltip.show()">
                <div *ngFor="let item of backendService.inProgress;let i = index ;let track item" class="task-box"
                    cdkDrag>
                    <span><b>{{item.title}}</b></span>
                    <span>from : {{ item.author }}</span>
                    <span>for : {{ item.assigned_to }}</span>
                    <div class="edit-task">
                        <button mat-icon-button matTooltip="edit task"
                            (click)="editTask(item)"><mat-icon>edit</mat-icon></button>
                        <button mat-icon-button matTooltip="delete task"
                            (click)="deleteTask(item)"><mat-icon>delete</mat-icon></button>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
    <div>
        <mat-card class="main-card">
            <mat-card-header>
                <mat-card-title>Testing</mat-card-title>
            </mat-card-header>

            <div cdkDropList [cdkDropListData]="backendService.testing" class="task-list"
                (cdkDropListDropped)="drop($event) ; tooltip.show()">
                <div *ngFor="let item of backendService.testing;let i = index ;let track item" class="task-box" cdkDrag>
                    <span><b>{{item.title}}</b></span>
                    <span>from : {{ item.author }}</span>
                    <span>for : {{ item.assigned_to }}</span>
                    <div class="edit-task">
                        <button mat-icon-button matTooltip="edit task"
                            (click)="editTask(item)"><mat-icon>edit</mat-icon></button>
                        <button mat-icon-button matTooltip="delete task"
                            (click)="deleteTask(item)"><mat-icon>delete</mat-icon></button>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
    <div>
        <mat-card class="main-card">
            <mat-card-header>
                <mat-card-title>Done</mat-card-title>
            </mat-card-header>
            <div cdkDropList [cdkDropListData]="backendService.done" class="task-list"
                (cdkDropListDropped)="drop($event) ; tooltip.show()">
                <div *ngFor="let item of backendService.done;let i = index ;let track item" class="task-box" cdkDrag>
                    <span><b>{{item.title}}</b></span>
                    <span>from : {{ item.author }}</span>
                    <span>for : {{ item.assigned_to }}</span>
                    <div class="edit-task">
                        <button mat-icon-button matTooltip="edit task"
                            (click)="editTask(item)"><mat-icon>edit</mat-icon></button>
                        <button mat-icon-button matTooltip="delete task"
                            (click)="deleteTask(item)"><mat-icon>delete</mat-icon></button>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>

    <div class="fab-container">
        <button mat-fab color="primary" (click)="saveCurrentState()" #tooltip="matTooltip"
            matTooltip="Please save your changes here, before you leave" matTooltipPosition="left">
            <mat-icon>save</mat-icon>
        </button>
        <button mat-fab color="primary" (click)="openDialogNewTask()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</main>

<main *ngIf="backendService.currentActiveChannel == 0">
    <h1>Please create or open a kanban Channel<br>
        Open the menu in the header on the left side
    </h1>
</main>