<mat-toolbar color="primary">
    <button *ngIf="backendService.checkTokenInStorage()" mat-icon-button class="example-icon" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span *ngIf="backendService.currentUser != ''">Welcome {{ backendService.currentUser }} ,to Phil´s Kanban
        System</span>
    <span *ngIf="backendService.currentUser == ''">Please Log in to enter the experience</span>
    <span class="header-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" [class.red]="activateHeart" (click)="toggleHeart()">
        <mat-icon>favorite</mat-icon>
    </button>
    <button *ngIf="backendService.checkTokenInStorage()" mat-icon-button class="example-icon favorite-icon" (click)="sidenav.close() ; logout()">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container  class="sidenav-container">
    <mat-sidenav  #sidenav mode="side" [(opened)]="opened">
        <div *ngIf="backendService.checkTokenInStorage()" class="sidenav-column">
            <p>Available Kanban´s</p>
            <button mat-icon-button matTooltip="Create new Kanban Channel" (click)="openDialogNewKanban()">
                <mat-icon>add</mat-icon>
            </button>
            <div  *ngFor="let channel of backendService.kanbanChannels" class="single-channel">
                <button  mat-button
                    (click)="openKanban(channel.id)">{{ channel.title }}</button>
                <button mat-icon-button matTooltip="Delete Channel" (click)="deleteChannel(channel.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>