<mat-card>
    <mat-card-header>
      <mat-card-title>Registration</mat-card-title>
      <mat-card-subtitle>Please create an account to continue</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form (ngSubmit)="register()">
            <div class="input-fields">
                <div class="row">
                    <mat-form-field>
                        <mat-label>User Name</mat-label>
                        <input matInput placeholder="call grandma" type="text" [formControl]="username" required>
                        <mat-error *ngIf="username.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field> 
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="pat@example.com" type="email" [formControl]="username" required>
                        <mat-error *ngIf="username.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field> 
                </div>
                <div class="row">
                    <mat-form-field>
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="Thomas" type="text" [formControl]="userPassword" required>
                        <mat-error *ngIf="userPassword.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Müller" type="text" [formControl]="userPassword" required>
                        <mat-error *ngIf="userPassword.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Müller" type="password" [formControl]="userPassword" required>
                        <mat-error *ngIf="userPassword.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Confirm password</mat-label>
                        <input matInput placeholder="Müller" type="password" [formControl]="userPassword" required>
                        <mat-error *ngIf="userPassword.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <mat-card-actions>
                <button type="submit" mat-button>Create</button>
                <button type="button" mat-button cdkFocusInitial (click)="openLogin()">Go Back</button>
            </mat-card-actions>
        </form>
    </mat-card-content>
  </mat-card>
